@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
body {
  font-family: "Nanum Brush Script", cursive;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #e6e6fa 0%, #fff0f5);
}

h1 {
  text-align: center;
  font-size: 100px;
}

ul {
  margin: 0 auto;
  width: 300px;
}

li {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 30px;
}

input[type="text"] {
  font-family: "Nanum Brush Script", cursive;
  font-size: 30px;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-bottom: 80px;
  width: 700px;
}

#button {
  font-family: "Nanum Brush Script", cursive;
  position: absolute;
  top: 1%;
  left: 63%;
  margin-top: 180px;
  background-color: rgb(238, 211, 215);
  font-size: 30px;
  border: 0;
  border-radius: 20px;
}
